{% extends 'base.html' %}


{% block content %}
<h1>Smell Good</h1>

<div class="row">
    {% for perfume in perfume %}
        <div class="col">
        <div class="card" style="width: 18rem;">
            <img src="{{ perfume.image }}" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ perfume.name }}</h5>
              <p class="card-text">${{ perfume.price }} </p>
              <a href="#" class="btn btn-primary">Add to cart</a>
            </div>
          </div>
        </div>  
    {% endfor %}
{% endblock%}